PORT=

JWT_SECRET=clave_secreta_jwt

USE_FIREBASE=true

FIREBASE_API_KEY=clave_api_firebase
FIREBASE_AUTH_DOMAIN=dominio_autenticación_firebase
FIREBASE_PROJECT_ID=id_proyecto_firebase
FIREBASE_STORAGE_BUCKET=bucket_almacenamiento_firebase
FIREBASE_MESSAGING_SENDER_ID=id_remitente_mensajeria_firebase
FIREBASE_APP_ID=id_aplicación_firebase